body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Roboto", sans-serif;
}

.stay-focused {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 50px;
  padding: 0;
  margin: 0%;
}

.mission-2022 {
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 50px;
  padding: 0;
  margin: 0%;
  color: orange;
}

#first-border {
  border-left: 3px solid yellowgreen;
  padding: 5px;
}

.first-button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: none;
  color: white;
  background-color: orange;
  text-decoration: none;
}

.first-banner {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.writing {
  width: 400px;
}

.first-banner img {
  margin-left: 200px;
  padding: 0%;
  height: 400px;
  width: 400px;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.white {
  color: white;
}

.center {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.second-flex {
  display: flex;
  justify-content: center;
}

.mission {
  margin-top: 20px;
  width: 250px;
  padding: 20px;
  background-color: paleturquoise;
  border-radius: 20px;
}

.mission img {
  width: 80%;
}

.vission {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  width: 250px;
  padding: 20px;
  background-color: pink;
  border-radius: 20px;
}

.vission img {
  width: 75%;
}

.goals {
  margin-top: 20px;
  width: 250px;
  padding: 20px;
  background-color: wheat;
  border-radius: 20px;
}

.goals img {
  width: 74%;
}

.third-flex {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 70px;
}

.third-flex img {
  padding-left: 100px;
  padding-right: 100px;
  width: 300px;
}

.image-bg {
  background-image: url(images/shapes/shape-1.png);
  background-size: 120px;
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 10%;
}

.image-bg2 {
  background-image: url(images/shapes/shape-1.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 90%;
}

.third-flex-writing {
  padding-left: 100px;
  padding-right: 100px;
  width: 400px;
  margin-bottom: 20px;
}

.header {
  margin: 0%;
  font-size: 30px;
  font-weight: 800;
}

.second-button {
  padding: 15px;
  border-radius: 10px;
  border-top: 20px;
  border: none;
  background: none;
  color: white;
  background-color: red;
}

footer {
  margin-top: 40px;
  text-align: center;
  background-color: black;
  padding: 25px;
}
